---
interface Props {
  tags: string[];
  isTrek?: boolean;
  linkable?: boolean;
}

const { tags, isTrek = false, linkable = false } = Astro.props;
---

<div class="post-card-tags">
  {tags.map((tag) =>
    linkable ? (
      <a href={`/tags/${tag}/`} class={`tag ${isTrek ? 'tag-trek' : ''}`}>{tag}</a>
    ) : (
      <span class={`tag ${isTrek ? 'tag-trek' : ''}`}>{tag}</span>
    )
  )}
</div>
